Data from:

https://en.wikipedia.org/wiki/1972%E2%80%9373_Hibernian_F.C._season

http://www.fitbastats.com/hibs/club_records_league_attendance.php

In [34]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [37]:
atten = pd.read_csv('/cos_pc19a_npr/data/Hibs/Hibs_LeagueGame_Attendences_1972_73_Home.csv')

In [38]:
atten

                                          no\tdate\tteam\ter\tscore\tgate
2  09September Heart of Midlothian H 2–0                            21221
4  23September Dundee United       H 3–1                            10372
5  30September St Johnstone        H 3–2                            10376
7  14October   Airdrieonians       H 5–2                             9989
10 04November  Kilmarnock          H 1–1                            11172
12 18November  Rangers             H 1–2                            33356
14 02December  Falkirk             H 3–0                            10606
   16December  Ayr United          H 8–1                            12510
17 30December  Aberdeen            H 3–2                            22229
19 06January   East Fife           H 1–0                            17068
21 27January   Dundee              H 1-1                            15896
24 03March     Dumbarton           H 5–0                            12417
26 13March     Partick Thistle     H 2–0                            13427
27 17March     Morton              H 2–1                            11690
29 31March     Arbroath            H 0–0                             7344
32 14April     Motherwell          H 0–1                             8576
34 28April     Celtic              H 0–3                            45443

In [39]:
atten.describe()

       no\tdate\tteam\ter\tscore\tgate
count                        17.000000
mean                      16099.529412
std                        9897.160370
min                        7344.000000
25%                       10376.000000
50%                       12417.000000
75%                       17068.000000
max                       45443.000000